:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #112D4E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Bangers, serif;
}

.card {
  padding: 2em;
  width: 18rem;
  height: 8rem;
  background-color: #F9F7F7;
  color: #2b2b2b;
  border-radius: 15px;
  align-content: center;
  text-align: center;
}

.options {
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3F72AF;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px; 
}

button:disabled {
  cursor: not-allowed;
  color: white;
  background-color: grey;
}

button:hover {
  border-color: #DBE2EF;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;  
  height: 100vh;
  background-color: #1f2937;
  color: white;
  padding: 1rem;
  z-index: 40;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);  
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 1.5rem;
}


.sidebar-header h2 {
  font-size: 1.2rem;
  font-weight: bold;
}


.sidebar-content {
  text-align: left; 
}


.sidebar-content label {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.enableButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3F72AF;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 6px;
}

.timeChooser{
  width: 40px;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}
